.auth-container {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-box {
    width: 100%;
    max-width: 380px;
    padding: 30px;
    background-color: #151515;
    border-radius: 14px;
    border: 1px solid #222;
}

.auth-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.auth-input {
    padding: 12px 14px;
    background-color: #0f0f0f;
    border: 1px solid #333;
    border-radius: 10px;
    color: #fff;
    outline: none;
}

.auth-input::placeholder {
    color: #888;
}

.auth-button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: #C50112;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
}

/* .auth-button:hover {
    background-color: #C50112;
} */

.auth-footer {
    margin-top: 16px;
    text-align: center;
    font-size: 0.85rem;
    color: #aaa;
}

.auth-footer a {
    color: #ffffff;
    text-decoration: none;
}