.home {
    padding: 30px;
}

.home-title {
    font-size: 1.6rem;
    margin-bottom: 20px;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 24px;
}