* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
}